<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale.language}"
>
<head>
    <meta charset="utf-8"/>
    <title>Die Dreizehn Gezeichneten</title>
</head>
<body>
<h1>Willkommen in Sygna, Stadt der 13 Zeichen!</h1>
<p>
    Welche Zeichen sollst du erlernen?<br/>
    Welche Gilde passt zu dir?<br/>
    Trete vor den Gildenrat, stelle dich ihren Fragen und finde es nun heraus!
</p>
<p><a href="gildenrat.html" th:href="@{/gildenrat}">Zum Gildenrat</a></p>
<img src="/CoverFinal.jpg" width="206" height="325" />
</body>
</html>
